 body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #b36200	;
    background-image: url(style/image/stars_trans2.png);
    position: absolute;
    z-index: -1;
  }
  
#splashPage {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: circle(54.4% at 50% 89%);
            clip-path: circle(54.4% at 50% 89%);
    background-image: url(https://mediacdn.bellacor.com/images/500/238801CU25955.jpg);
    background-size: cover;
            box-shadow: inset 0 0 10px white;
    z-index: -1;
    opacity: 0.7;
  }
  
  body .dome {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    overflow: hidden;
  }
  
  /* body .fan {
    background-color: #aec6cf;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 110%;
    margin-top: 25%;
    -webkit-animation-name: rotate_fan;
            animation-name: rotate_fan;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
*/
  
  #title {
    color: #b36200;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 46%;
    /* border-top: solid 1px  #bd9360; */
  }
  
  
#title2 {
    color: #b36200;
    opacity: 0.7;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 80px;
  }

.afterSplash{
    box-shadow: inset  10px  #b36200;
  }

#name{
    font-size: 40px;
    color:white;
}

#headerIntro{
    text-align: center;
    font-family: serif;
    color:#301f09;
    font-size: 20px
}

#scroll{
    text-align: center;
    font-family: serif;
    color:grey;
    font-size: 15px;
}
  
.header {
    background: #f5e9dc;
    box-shadow: inset 0 0 10px #b36200;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    height: 80px;
    padding-right:20px;
    padding-top:20px;
  }
  
.content {
    padding: 16px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
.sticky + .content {
    padding-top: 102px;
  }

#home, #about, #projects, #contacts{
    padding:20px;
}

/* box catergories*/
.box1{
    float:left;
    height:500px;
    overflow:hidden;
    position: relative;
}

.box2{
    float:left;
    overflow:hidden;
    position: relative;
    border:2px solid #301f09;
    padding:0px;
}

.sns{
    float:left;
    overflow:hidden;
    position: relative;
    padding:0px;
}

#email,#github, #linkedIn{
    padding:30px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: right;
    color: #301f09 ;
}

/*descriptions*/
.words{
    padding-right:30px;
    padding-left:30px;
    padding-top:60px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

h3{
    color:#301f09 ;;
    text-align:center;
    font-family: serif;
}

/* carousel */
#caraselBody{
    padding-top:80px;
    padding-bottom: 10px;
    font-family: sans-serif;
    background-color:white;
}

.year{
    text-align: center;
    font-family: serif
}

.position{
    text-align: center;
    font-family: serif;
    font-size: 30px;
}

.company{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;

}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
   

    opacity: 0!important;
}

#portfolio{
    padding:20px;

}

.git{
    text-align: center;
}

.langauge{
    text-align: center;
}

.sectionTitle{
    text-align:center;
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    color:black;
}

footer{
    position:fixed;
    bottom:0px;
    text-align: center;
    border-top:5px solid   #301f09 ;
    padding:30px;

}

@media only screen and (max-width: 640px) {
    *{
        overflow:auto;
    }

    #main{
        margin-top:100vw;
    }

    .header {
        position:fixed;
        top:0;
        float:left;
        width: 100%;
        font-family: sans-serif;
        font-size: 15px;
        height: 50px;
        padding-right:5px;
        padding-top:12px;
        z-index:3;
        background: #f5e9dc;
        box-shadow: inset 0 0 10px white;
        text-align: center;
      }


      #title {
        color: #bd9360;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        margin-top: 46%;
        border-top: none;
        
      }
    
    #home, #about, #projects, #contacts{
        padding:5px;
    }

    footer{
        position:fixed;
        bottom:0px;
        text-align: center;
        border-top:5px solid   #301f09 ;
    
    }
    .sns{
        float:none;
        overflow:hidden;
        position: relative;
        padding:0px;
    }
    
    #github, #linkedIn{
        text-align: none;
        padding:30px;
        font-family: sans-serif;
        font-size: 30px;
        color: #301f09 ;
        display:inline-block;
    }

    #email{
        text-align: none;
        padding:30px;
        font-family: sans-serif;
        font-size: 33px;
        color: #301f09 ;
        display:inline-block;
    }

}