 span{
    display:inline-block;
 }
 body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f5e9dc;
    background-image: url(style/image/stars_trans2.png);
    position: absolute;
    z-index: -1;
  }
  
  body #page1Ciircle {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: circle(54.4% at 50% 89%);
            clip-path: circle(54.4% at 50% 89%);
    background-color: #89cff0;
    -webkit-box-shadow: inset 0 0 100px white;
            box-shadow: inset 0 0 100px white;
    z-index: -1;
  }
  
  body .dome {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    overflow: hidden;
  }
  
  body .fan {
    background-color: #aec6cf;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    margin-left: 110%;
    margin-top: 25%;
    -webkit-animation-name: rotate_fan;
            animation-name: rotate_fan;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  body .fan_blade1, body .fan_blade2, body .fan_blade3, body .fan_blade4 {
    width: 2px;
    height: 60px;
    position: absolute;
    margin-left: 35px;
    margin-top: -28px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  body .fan_blade2 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-left: 1px;
    margin-top: 5px;
  }
  
  body .fan_blade3 {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    margin-left: 3px;
    margin-top: -60px;
  }
  
  body .fan_blade4 {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    margin-top: -28px;
    margin-left: -30px;
  }
  
  body .fan_blade1::before {
    content: "";
    width: 0;
    height: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 15px 0 0 #aec6cf;
            box-shadow: 15px 15px 0 0 #aec6cf;
    margin-left: 5px;
    background-size: 10px 11px;
    position: absolute;
  }
  
  body .fan_blade2::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 15px 0 0 #89cff0;
            box-shadow: 15px 15px 0 0 #89cff0;
    margin-left: 5px;
    background-size: 10px 11px;
    position: absolute;
  }
  
  body .fan_blade3::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 15px 0 0 #89cff0;
            box-shadow: 15px 15px 0 0 #89cff0;
    margin-left: 5px;
    background-size: 10px 11px;
    position: absolute;
  }
  
  body .fan_blade4::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 15px 0 0 white;
            box-shadow: 15px 15px 0 0 white;
    margin-left: 5px;
    background-size: 10px 11px;
    position: absolute;
  }
  
  body .windmill {
    position: absolute;
    margin-left: 50%;
    margin-top: -25%;
  }
  
  @-webkit-keyframes rotate_fan {
    from {
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotate_fan {
    from {
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  #pg1content1 {
    color: #aec6cf;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50%;
  }
  
  #pg1content2 {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
  }
  
  #pg1content3 {
    color: #f5e9dc;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 60%;
    padding-bottom: 80px;
  }


/*.top-words{
    background:white;
    opacity: 0.5;
    border:2px solid  blue ;
  }*/

#name{
    font-size: 40px;
    color:white;
}

#headerIntro{
    text-align: center;
    font-family: serif;
    color:silver;
    font-size: 20px
}

#scroll{
    text-align: center;
    font-family: serif;
    color:grey;
    font-size: 15px;
}
  
.header {
    background: #f5e9dc;
    color: #f1f1f1;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    height: 80px;
    padding-right:20px;
    padding-top:20px;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

#home, #about, #projects, #contacts{
    padding:20px;
}

/* main body*/
#main{
    margin-bottom: 50px;
    padding:0px;
    overflow:hidden;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:-1;
    position:relative;
}

/* Pictures*/
#profilePic {
    background-image: url(images/profilePic.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#resume {
    background-image: url(images/resume.JPG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#skills {
    background-image: url(images/skills.JPG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#education {
    background-image: url(images/education.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* box catergories*/
.box1{
    float:left;
    height:500px;
    overflow:hidden;
    position: relative;
   
}

.box2{
    float:left;
    height:500px;
    overflow:hidden;
    position: relative;
    border:2px solid #301f09;
    padding:0px;
}

.sns{
    float:left;
    overflow:hidden;
    position: relative;

    padding:0px;
}

#email,#github, #linkedIn{
    padding:30px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: right;
    color: #301f09 ;
}




/*descriptions*/
.words{
    padding-right:30px;
    padding-left:30px;
    padding-top:60px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

h3{
    color:#301f09 ;;
    text-align:center;
    font-family: serif;
}





#cv{

    padding-top:80px;
    padding-bottom: 10px;
    font-family: sans-serif;
    background-color:white;
}

.year{
    text-align: center;
    font-family: serif
}

.position{
    text-align: center;
    font-family: serif;
    font-size: 30px;
}

.company{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;

}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
   

    opacity: 0!important;
}

#portfolio{
    padding:20px;

}

.git{
    text-align: center;
}

.langauge{
    text-align: center;
}

.num{
    text-align:center;
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    color:black;

}

footer{
    position:fixed;
    bottom:0px;
    text-align: center;
    border-top:5px solid   #301f09 ;
    padding:20px;

}